h1 {
    color: brown;
}

* {
  background-color: lightblue;
  border: solid;
}

.header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

.Allimages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

p,h2 {
    text-align: center;
}